# Pandas Exercises

In [3]:
import pandas as pd
import numpy as np

### import pandas and check the version

In [4]:
import numpy as np  # optional
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.4.4

C:\Users\cruda\anaconda3\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

{
  "system": {
    "commit": "ca60aab7340d9989d9428e11a51467658190bb6b",
    "python": "3.9.13.final.0",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "10",
    "Version": "10.0.21996",
    "machine": "AMD64",
    "processor": "Intel64 Family 6 Model 61 Stepping 4, GenuineIntel",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": "English_Nigeria",
      "encoding": "1252"
    }
  },
  "dependencies": {
    "pandas": "1.4.4",
    "numpy": "1.21.5",
    "pytz": "2022.1",
    "dateutil": "2.8.2",
    "setuptools": "63.4.1",
    "pip": "22.2.2",
    "Cython": "0.29.32",
    "pytest": "7.1.2",
    "hypothesis": null,
    "sphinx": "5.0.2",
    "blosc": null,
    "feather": null,
    "xlsxwriter": "3.0.3",
    "lxml.etree": "4.9.1",
    "html5lib": null,
    "pymysql": null,
    "psycopg2": null,
    "jinja2": "2.11.3",
    "IPython": "7.31.1",
    "pandas_datareader": null,
    "bs4": "4.11.1",
    "bottleneck": "1.3.5",
    "brotli": "",
    "fastparquet": null,
    "fsspec": "2022.7.1",
    "gcsfs": null,
    "markupsafe": "2.0.1",
    "matplotlib": "3.5.2",
    "numba": "0.55.1",
    "numexpr": "2.8.3",
    "odfpy": null,
    "openpyxl": "3.0.10",
    "pandas_gbq": null,
    "pyarrow": null,
    "pyreadstat": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.9.1",
    "snappy": "",
    "sqlalchemy": "1.4.39",
    "tables": "3.6.1",
    "tabulate": "0.8.10",
    "xarray": "0.20.1",
    "xlrd": "2.0.1",
    "xlwt": null,
    "zstandard": null
  }
}None

### create a series from a list, numpy array and dict?

In [6]:
# import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [7]:
# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int32

### convert the index of a series into a column of a dataframe?

In [12]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [14]:
# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [15]:
type(df)

pandas.core.frame.DataFrame

### combine many series to form a dataframe?

In [16]:
# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [17]:
# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

### assign name to the series’ index?

In [20]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [21]:
# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [16]:
type(ser)

pandas.core.series.Series

### get the items of series A not present in series B?

In [19]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [20]:
# ser1[~ser1.isin(ser2)]
[ser1.isin(ser2)]

[0    False
 1    False
 2    False
 3     True
 4     True
 dtype: bool]

### get the items not common to both series A and series B?

In [24]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [25]:
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

### get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [26]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [27]:
# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

### get frequency counts of unique items of a series?

In [30]:
# Input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [31]:
# Solution
ser.value_counts()

f    9
d    7
h    4
e    3
b    3
a    2
c    1
g    1
dtype: int64

### keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [32]:
# Input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [33]:
# Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 4    4
2    4
3    3
1    1
dtype: int64

0         4
1         4
2     Other
3     Other
4     Other
5         4
6         2
7         2
8         2
9         4
10    Other
11        2
dtype: object

### bin a numeric series to 10 groups of equal size?

In [34]:
ser = pd.Series(np.random.random(20))

In [35]:
# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    1st
1    5th
2    2nd
3    4th
4    2nd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

### convert a numpy array to a dataframe of given shape? (L1)

In [37]:
# Input
ser = pd.Series(np.random.randint(1, 10, 35))

In [38]:
# Solution
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  4  3  9  2  9
1  9  4  2  2  7
2  4  5  7  8  2
3  5  5  3  2  8
4  2  7  6  8  1
5  5  3  4  3  6
6  7  3  2  1  6

### extract items at given positions from a series

In [48]:
# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [49]:
# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

### stack two series vertically and horizontally ?

In [50]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [52]:
# Output
# Vertical
print(ser1.append(ser2))

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

### get the positions of items of series A in another series B?

In [53]:
# Input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [54]:
# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

### compute the mean squared error on a truth and predicted series?

In [55]:
# Input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [56]:
# Solution
np.mean((truth-pred)**2)

0.22488788275817165

### convert the first character of each element in a series to uppercase?

In [58]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [59]:
# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

### calculate the number of characters in each word in a series?

In [61]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [62]:
# Solution
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

### compute difference of differences between consequtive numbers of a series?

In [63]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [64]:
# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### convert a series of date-strings to a timeseries?

In [66]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [67]:
# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

# Solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### get the day of month, week number, day of year and day of week from a series of date strings?

In [68]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [71]:
# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.day_name())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  0       Friday
1    Wednesday
2     Saturday
3     Thursday
4       Monday
5     Saturday
dtype: object

<ipython-input-71-dfedea39fa0d>:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print("Week number: ", ser_ts.dt.weekofyear.tolist())

### convert year-month string to dates corresponding to the 4th day of the month?

In [72]:
# Input
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [73]:
# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

# Solution 2
ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

###  filter words that contain atleast 2 vowels from a series?

In [74]:
# Input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [75]:
# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

### filter valid emails from a series?

In [76]:
# Input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

In [77]:
# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# Solution 2 (as series of list)
emails.str.findall(pattern, flags=re.IGNORECASE)

# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

### get the mean of a series grouped by another series?

In [79]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'apple', 'carrot', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot']

In [80]:
weights.groupby(fruit).mean()

apple     4.0
banana    9.0
carrot    6.0
dtype: float64

### compute the euclidean distance between two series?

In [81]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [82]:
# Solution 
sum((p - q)**2)**.5

# Solution (using func)
np.linalg.norm(p-q)

18.16590212458495

### find all the local maxima (or peaks) in a numeric series?

In [83]:
# Input
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

In [84]:
# Solution
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7], dtype=int64)

### replace missing spaces in a string with the least frequent character?

In [1]:
my_str = 'dbc deb abed gade'

In [4]:
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
e    3
b    3
     3
a    2
g    1
c    1
dtype: int64

'dbccdebcabedcgade'

### create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [5]:
# Solution
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    2
2000-01-08    6
2000-01-15    9
2000-01-22    9
2000-01-29    6
2000-02-05    6
2000-02-12    2
2000-02-19    8
2000-02-26    3
2000-03-04    1
Freq: W-SAT, dtype: int32

### fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [6]:
# Input
ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

# Solution
ser.resample('D').ffill()  # fill with previous value

# Alternatives
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

### compute the autocorrelations of a numeric series?

In [7]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

In [8]:
# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.14, 0.49, 0.03, 0.34, 0.29, -0.1, 0.26, -0.29, 0.74, -0.19]
Lag having highest correlation:  9

### import only every nth row from a csv file to create a dataframe?

In [10]:
# Solution 1: Use chunks and for-loop
df = pd.read_csv('Dataset/diabetes.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])


# Solution 2: Use chunks and list comprehension
df = pd.read_csv('Dataset/diabetes.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()

# Solution 3: Use csv reader
import csv          
with open('Dataset/diabetes.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)

df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

  Pregnancies Glucose BloodPressure SkinThickness Insulin   BMI  \
0           7     105             0             0       0     0
1           1     122            90            51     220  49.7
2           2      90            70            17       0  27.3
3           4     148            60            27     318  30.9
4           1     111            86            19       0  30.1

  DiabetesPedigreeFunction Age Outcome
0                    0.305  24       0
1                    0.325  31       1
2                    0.085  22       0
3                     0.15  29       1
4                    0.143  23       0

### create a dataframe with rows as strides from a given series?

In [12]:
L = pd.Series(range(15))
print(L)
def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

### import only specified columns from a csv file?

In [13]:
df = pd.read_csv('Dataset/diabetes.csv', usecols=['Age', 'BMI'])
print(df.head())

    BMI  Age
0  33.6   50
1  26.6   31
2  23.3   32
3  28.1   21
4  43.1   33

### rename a specific columns in a dataframe?

In [17]:
# Input
df = pd.read_csv('Dataset/diabetes.csv')

# Solution
# Step 1:
df=df.rename(columns = {'Age':'Patient Age'})

In [18]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Patient Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

### check if a dataframe has any missing values?

In [19]:
# Input
df = pd.read_csv('Dataset/diabetes.csv')

# Solution
df.isnull().values.any()

False

### count the number of missing values in each column?

In [20]:
df = pd.read_csv('Dataset/diabetes.csv')

# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

0

### replace missing values of multiple numeric columns with the mean?

In [21]:
# Input
df = pd.read_csv('Dataset/diabetes.csv')

# Solution
df_out = df[['Age', 'BMI']] = df[['Age', 'BMI']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Age   BMI
0   50  33.6
1   31  26.6
2   32  23.3
3   21  28.1
4   33  43.1

###  get the row number of the nth largest value in a column?

In [27]:
# Input
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
df.head()

    a   b   c
0  16   8  10
1  23   3  22
2  18  23   3
3  27   5   3
4  10   2  14

In [26]:
# Solution
n = 5
df['a'].argsort()[::-1][n]

1

### find and cap outliers from a series or dataframe column?

In [28]:
# Input
ser = pd.Series(np.logspace(-2, 2, 30))

In [29]:
# Solution
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser, .05, .95)

0.05 %ile:  0.016049294076965887 | 0.95 %ile:  63.876672220183934

### reverse the rows of a dataframe?

In [32]:
# Input
df = pd.DataFrame(np.arange(25).reshape(5, -1))

df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [31]:
# Solution 1
df.iloc[::-1, :]

# Solution 2
print(df.loc[df.index[::-1], :])

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

### Which column contains the highest number of row-wise maximum values?

In [35]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

df

    0   1   2   3
0  35  71  26  62
1  40  18   6  22
2  44  84  33  41
3  36  64  72  84
4  34  69  40  35
5  97  93  51  81
6  76  34  44  35
7   9  10  13  56
8  29  73  98  46
9  95  46  82   2

In [36]:
# Solution
print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

Column with highest row maxes:  0

### create a column containing the minimum by maximum of each row?

In [37]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [40]:

# Solution 1
min_by_max = df.apply(lambda x: np.min(x)/np.max(x), axis=1)

# Solution 2
min_by_max = np.min(df, axis=1)/np.max(df, axis=1)
min_by_max

0    0.010417
1    0.025316
2    0.152174
3    0.202128
4    0.088608
5    0.151899
6    0.101124
7    0.171717
dtype: float64