#### Write a program to accept two numbers from the user and calculate multiplication.

In [11]:
x = int(input('Please a number '))
y = int(input('please enter another number'))
multiply = x*y
print(multiply)

Please a number 45
please enter another number41
1845

#### Display three string “Name”, “Is”, “James” as “Name**Is**James”.

In [12]:
print('Name','**','is','**','James')

Name ** is ** James

#### Display float number with 2 decimal places using print().

In [15]:
num = 20.32646
print('%.2f'%num)

20.33

#### Write a program to take three names as input from a user in the single input() function call.

In [20]:
names = input('Pls enter three names separated by space')
names = names.split()
for i in range(0,3):
    print(f'Name{i+1}: {names[i]}')

Pls enter three names separated by spaceSaheed Olalekan Awolaju
Name1: Saheed
Name2: Olalekan
Name3: Awolaju

#### Given two integer numbers return their product only if the product is equal to or lower than 1000, 
else return their sum.

In [22]:
a = 20
b = 400
if a*b <= 1000:
    print(a*b)
else:
    print(a+b)

420

#### Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [23]:
previous = 0
sum = 0
for i in range(0,11):
    sum = previous+i
    print(f'Current Number: {i} Previous Number: {previous} Sum: {sum} ')
    previous = i

Current Number: 0 Previous Number: 0 Sum: 0
Current Number: 1 Previous Number: 0 Sum: 1
Current Number: 2 Previous Number: 1 Sum: 3
Current Number: 3 Previous Number: 2 Sum: 5
Current Number: 4 Previous Number: 3 Sum: 7
Current Number: 5 Previous Number: 4 Sum: 9
Current Number: 6 Previous Number: 5 Sum: 11
Current Number: 7 Previous Number: 6 Sum: 13
Current Number: 8 Previous Number: 7 Sum: 15
Current Number: 9 Previous Number: 8 Sum: 17
Current Number: 10 Previous Number: 9 Sum: 19

In [5]:
word = input('Pls type a word ')
for i in range(len(word)):
    if i%2==0:
        print(word[i])

Pls type a word Order
O
d
r

#### Write a program that calculate and prints John’s monthly net salary:

In [26]:
wage ='£80 per hour'
Hours = '35 hours per week'
tax = '15%'

salary = 80 *35*4* 0.15
print(salary)

1680.0